/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;
$base-color-text:#444444;
$bg-basic-green: #68b738;

$primary-font:"Oswald","Arial", sans-serif;
$secondary-font:"Lato","Arial", sans-serif;
