.additional {

}

.additional__box {
  display: flex;
}

.additional__container {
  height: 288px;
}

.additional__subtitle {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 434px;
  width: 896px;
  border-top: 1px solid #cdcdcd;
}

.additional__title {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__btn {
  background-color: $bg-basic-green;
  border: none;
  text-decoration: none;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 109px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 10px 285px;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 91px;
    width: 244px;
  }
}

.additional__gift {
  background-color: rgba(104, 183, 56, 0.85);
}

.additional__picture {
  background-color: rgba(104, 183, 56, 0.85);
}

.additional__description--text {
  color: #ffffff;
  background-color: $bg-basic-green;

  @media (min-width: 280px) {
    font-size: 16px;
    line-height: 20px;
  }
}
