.main-header {
  display: flex;
  padding-bottom: 74px;
  padding-top: 55px;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 2;
    height: 59px;

    background-color: #ffffff;
    background-image: url("../../images/cat1.svg");
    background-repeat: no-repeat;
    background-position: 50% -9px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cat1.svg");
      background-size: 1338px auto;
    }
  }

  @media (min-width: $desktop-width) {
    // height: 648px;
  }
}

.main-header__logo {
  padding-left: 110px;
}
