.main-header__row {
  display: flex;
  padding-bottom: 74px;
  padding-top: 55px;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.main-header--index {
  @media (min-width: $desktop-width) {
    color: #ffffff;
    width: 100%;
    height: 694px;
    background-position: top right;
    display: block;
    background-image: url("../../images/hero-desktop@2x.png");
    background-repeat: no-repeat;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 50%;
    //   height: 694px;
    //   display: block;
    //   background-image: url("../../images/hero-desktop@2x.png");
    //   background-repeat: no-repeat;
  }
}

