.main-header__row {
  display: flex;
  padding-bottom: 74px;
  padding-top: 55px;
  align-items: center;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.main-header--index {
  @media (min-width: $desktop-width) {
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      display: block;
      background-image: url("../../images/hero-desktop@2x.jpg");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}


.main-header__logo {

}
