.products {
  display: flex;
  gap: 80px;
}

.products__weight {
  background-color: #f2f2f2;
  width: 570px;
  padding: 41px 61px 55px 52px;
}

.products__subtitle {
  position: relative;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.products__subtitle::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #68b738;
  border-radius: 50%;
}

.products__subtitle--loss::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-blackcat");
  background-repeat: no-repeat;
  background-size: 70px 97px;
  width: 70px;
  height: 97px;
  position: absolute;
  top: -6px;
  left: 15px;
}

.products__subtitle--gain::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-leopard");
  background-repeat: no-repeat;
  background-size: 134px 56px;
  width: 134px;
  height: 56px;
  position: absolute;
  top: 20px;
  left: -19px;
}

.products__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.products__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }
}
