.promotions {

}

.promotions__subtitle {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.promotions__description {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.promotions__form {
  margin: 0 auto;
}

.promotions__field {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.promotions__btn {
  background-color: $bg-basic-green;
  border: none;
  text-transform: uppercase;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 15px 81px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 15px 69px;
    width: 256px;
  }
}
