.site-list {
  margin: 0;
  display: flex;
  gap: 33px;
  padding-right: 33px;
  padding-left: 540px;
}

.site-list__item {
  list-style-type: none;
}

.site-list__item--link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    text-decoration: none;
    background-color: $bg-basic-green;
  }
}

.site-list__item--current {
  &::before {
    content: "";
    height: 6px;
    background-color: #68b738;
    background-position: center;
    background-size: 25px;
  }
}

.site-list__item--catalog {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 100%;
    color: #111111;
    text-decoration: none;
  }
}

