.steps__list {
  display: flex;
  margin: 0;
  list-style-type: none;
  gap: 94px;
}

.steps__title {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.steps__item {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    background-color: #68b738;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "";
      width: 80px;
      height: 80px;
    }
  }
}

.steps__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  margin-bottom: 31px;
}


.steps__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-powder");
  margin-bottom: 31px;
}

.steps__item--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  margin-bottom: 31px;
}

.steps__item--clock::before {
  background-image: url("../../icons/stack.svg#icon-clock");
  margin-bottom: 31px;
}
