.steps {

}

.steps__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.steps__list {
  margin: 0;
  list-style-type: none;
}

.steps__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}


.steps--leaf {
  mask-image: url("../../icons/icon-leaf.svg");
  background-color: #68b738;
  mask-size: 80px 80px;
  mask-position: left center;
}


.steps--powder {

}

.steps--eat {

}

.steps--clock {

}
